header {
    border-style: dashed;
    border-width: 5px;
    border-color: red;
    margin: 0.1em;
    width: 100%;
    height: 50%;
    background: url("images/Bansky.png") left bottom/10% no-repeat, linear-gradient(45deg, #AEAEAE, #DBDBDB, #E3E3E3) no-repeat;
    text-align: center;
    background-clip: content-box;

}
abbr {
    text-decoration: unset;
}

