html {
    margin: unset;
}
body {
    font-family: 'Zeyada', cursive;
    font-size: xx-large;
    background-image: url("images/AdobeStock_79997387_Preview.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

h1 {
    color: #708C78;


}
h2{
    color:#8C7E7E;
}


